In [5]:
import statsmodels.api as sm
import datapackage
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from dateutil import parser
from datetime import datetime, timedelta

In [6]:
weather_data = pd.read_csv('weather_dataset.csv')
price_data = pd.read_csv('crop_dataset.csv')

In [7]:
price_data['Date'] = pd.to_datetime(price_data['Date'])

In [24]:
# Create a date range from 2013-01-01 to 2023-12-31
date_range = pd.date_range(start='2013-06-01', end='2023-12-02')

In [25]:
# Check for missing dates
missing_dates = date_range[~date_range.isin(price_data['Date'])]

In [26]:
missing_dates_df = pd.DataFrame({'Date': missing_dates})
missing_dates_df = missing_dates_df.assign(**{col: [None] * len(missing_dates_df) for col in price_data.columns[1:]})

In [27]:
# Concatenate the original DataFrame with the DataFrame containing missing dates
result_df = pd.concat([price_data, missing_dates_df], ignore_index=True)

C:\Users\Hewlett Packard\AppData\Local\Temp\ipykernel_16344\3887192919.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([price_data, missing_dates_df], ignore_index=True)

In [28]:
# Sort the DataFrame based on the 'Date' column
result_df = result_df.sort_values(by='Date').reset_index(drop=True)
print(result_df)

           Date  Minimum  Maximum  Average
0    2013-06-01      NaN      NaN      NaN
1    2013-06-02      NaN      NaN      NaN
2    2013-06-03      NaN      NaN      NaN
3    2013-06-04      NaN      NaN      NaN
4    2013-06-05      NaN      NaN      NaN
...         ...      ...      ...      ...
3832 2023-11-28     15.0     26.0     20.5
3833 2023-11-29      5.0     26.0     15.5
3834 2023-11-30     15.0     33.0     24.0
3835 2023-12-01     28.0     30.0     29.0
3836 2023-12-02     20.0     30.0     25.0

[3837 rows x 4 columns]

In [35]:
result_df['Minimum'] = result_df.groupby(result_df['Date'].dt.to_period("M"))['Minimum'].transform(lambda x: x.fillna(x.mean()))
result_df['Maximum'] = result_df.groupby(result_df['Date'].dt.to_period("M"))['Maximum'].transform(lambda x: x.fillna(x.mean()))
print(result_df)

           Date    Minimum  Maximum    Average
0    2013-06-01  21.272727     26.0  23.636364
1    2013-06-02  21.272727     26.0  23.636364
2    2013-06-03  21.272727     26.0  23.636364
3    2013-06-04  21.272727     26.0  23.636364
4    2013-06-05  21.272727     26.0  23.636364
...         ...        ...      ...        ...
3832 2023-11-28  15.000000     26.0  20.500000
3833 2023-11-29   5.000000     26.0  15.500000
3834 2023-11-30  15.000000     33.0  24.000000
3835 2023-12-01  28.000000     30.0  29.000000
3836 2023-12-02  20.000000     30.0  25.000000

[3837 rows x 4 columns]