In [31]:
import statsmodels.api as sm
import datapackage
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from dateutil import parser
from datetime import datetime, timedelta

In [32]:
weather_data = pd.read_csv('weather_dataset.csv')
price_data = pd.read_csv('crop_dataset.csv')

In [33]:
price_data['Date'] = pd.to_datetime(price_data['Date'])

In [34]:
# Create a date range from 2013-01-01 to 2023-12-31
date_range = pd.date_range(start='2013-01-06', end='2023-12-02')

In [35]:
# Check for missing dates
missing_dates = date_range[~date_range.isin(price_data['Date'])]

In [36]:
missing_dates_df = pd.DataFrame({'Date': missing_dates})
missing_dates_df = missing_dates_df.assign(**{col: [None] * len(missing_dates_df) for col in price_data.columns[1:]})

In [37]:
# Concatenate the original DataFrame with the DataFrame containing missing dates
result_df = pd.concat([price_data, missing_dates_df], ignore_index=True)

C:\Users\Hewlett Packard\AppData\Local\Temp\ipykernel_1940\3887192919.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([price_data, missing_dates_df], ignore_index=True)

In [44]:
# Sort the DataFrame based on the 'Date' column
result_df = result_df.sort_values(by='Date').reset_index(drop=True)
print(result_df)

           Date  Minimum  Maximum  Average
0    2013-01-06      NaN      NaN      NaN
1    2013-01-07      NaN      NaN      NaN
2    2013-01-08      NaN      NaN      NaN
3    2013-01-09      NaN      NaN      NaN
4    2013-01-10      NaN      NaN      NaN
...         ...      ...      ...      ...
3978 2023-11-28     15.0     26.0     20.5
3979 2023-11-29      5.0     26.0     15.5
3980 2023-11-30     15.0     33.0     24.0
3981 2023-12-01     28.0     30.0     29.0
3982 2023-12-02     20.0     30.0     25.0

[3983 rows x 4 columns]

In [46]:
result_df['Minimum'] = result_df.groupby(result_df['Date'].dt.to_period("M"))['Minimum'].transform(lambda x: x.fillna(x.mean()))

print(result_df)

           Date  Minimum  Maximum  Average
0    2013-01-06      NaN      NaN      NaN
1    2013-01-07      NaN      NaN      NaN
2    2013-01-08      NaN      NaN      NaN
3    2013-01-09      NaN      NaN      NaN
4    2013-01-10      NaN      NaN      NaN
...         ...      ...      ...      ...
3978 2023-11-28     15.0     26.0     20.5
3979 2023-11-29      5.0     26.0     15.5
3980 2023-11-30     15.0     33.0     24.0
3981 2023-12-01     28.0     30.0     29.0
3982 2023-12-02     20.0     30.0     25.0

[3983 rows x 4 columns]

In [8]:
# Create a new DataFrame with daily dates for the year 2022
date_2022 = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df_2022 = pd.DataFrame({'Date': date_2022})

In [10]:
# Merge the two DataFrames based on the 'date' column, filling NaN values with the corresponding prices from 2023
merged_df = pd.merge(df_2022, price_data, on='Date', how='left')